.mail {
  width: 100%;
  background-color: white;
  border-radius: 16px;
  padding-right: 16px;
  .tools {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 4px;
  }
  .content {
    height: calc(100vh - 120px);
    overflow-y: scroll;
    padding-right: 16px;
    &::-webkit-scrollbar {
      width: 14px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;

      &:hover {
        background: rgba(0, 0, 0, 0.04);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
      }
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.1),
        inset 0px -1px 0px rgba(0, 0, 0, 0.07);
      &:hover {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
      }
    }
    .subject {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 8px 72px;
      h2 {
        font-size: 1.35em;
      }
    }
    .from {
      padding-top: 20px;
      display: flex;

      &__left {
        display: flex;
        flex-direction: column;
      }
      &__title {
        display: flex;
        align-items: center;
        h2 {
          font-size: 0.875em;
          font-weight: 700;
          margin-right: 4px;
        }
        p {
          font-size: 0.75em;
          font-weight: 400;
          color: #5e5e5e;
        }
      }
      .mailTo {
        font-size: 0.75em;
        color: #5e5e5e;
      }
      &__right {
        margin-left: auto;
        display: flex;
        align-items: center;
        p {
          color: #5e5e5e;
          font-size: 0.75em;
          margin-right: 20px;
        }
      }
    }
    .massage {
      margin-left: 72px;
      background-color: #eceff1;
      margin-top: 8px;
    }
  }
}
